{%extends 'layout.html' %}
{%block body%}
<div class="div" id="dashboard">
<div class="container col-6 mt-4" >
    <h1 class="m-3 text-center">Welcome to Confession </h1>
    <div class="d-flex justify-content-between m-3">
        <h3>ALL tv shows</h3>
        <a href='/confession/new' class="btn btn-outline-info">+ create</a>
        <a href="/logout" class="btn btn-outline-danger">Log out</a>
    </div>
    <hr>
    <div>
        <div class="table-container">
        <h4>Confessions: </h4>
        <table class="table table-secondary table-hover ">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody>
                {%for confession in confessions: %}
                <tr>
                    <td><a href="/confession/{{ confession.id }}">{{confession.title}}</a></td>
                    <td>{{confession.category}}</td>
                    <td>{%if user.id == confession.user.id%} |<a href="/confession/edit/{{confession.id}}">Edit</a>| <a href="/confession/delete/{{confession.id}}">Delete</a>{%endif%}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    </div>
</div>
{%endblock%}