{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="card bg-dark text-light p-3 m-5" id="confession">
        
        <h2 class="m-3 text-center">Confession  <p class="text-end"><a href="/dashboard" class="btn btn-outline-info ">Back</a></p></h2>
        <div class="card-body">
            <h3>{{ confession.title }}</h3>
            <p>Category: {{ confession.category }}</p>
            <p>{{ confession.story }}</p>
            
                <p>Created at: {{ confession.created_at }}</p>
            
            <div class="likeIcon">
                <img src="../static/images/like.jpg" alt="like icon" class="likes" id="likeButton" onclick="addLike()">
                <span class="ms-2" id="like"> 0 </span>
            </div>
            <div class="comment">
                <h4>Comments</h4>
                <form action="/comment/{{ confession.id }}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="confession_id" value="confession.id">
                        <input type="hidden" name="user_id" value="session['user_id']">
                        <label for="comment">Comment</label>
                        <textarea class="form-control w-75" name="text" id="comment" rows="1"></textarea>
                        <button type="submit" class="btn btn-primary mt-2 ">Submit</button>
                    </div>
                </form>
            </div>
            <div class="comments">
                {% for comment in comments %}
                <div class="card bg-secondary text-light p-2 m-2">
                    <p>comment:{{ comment.comment_text }}</p>
                    <p>Created at: {{ comment.created_at }}</p>
                    <hr>
                </div>
                
                {% endfor %}

    
            
        </div>
    </div>
</div>
{% endblock %}